body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*override some materialize.css sitewide*/
h1 {
  font-size: 3.0rem;
}

.btn-small { margin: 0 6px;}

.bRad {
  border-radius:8px;
}
.card .card-image.bRadT img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card.bRad .card-action:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}