.about-img img {
    width:100%;
    padding: 0 8px;
    margin: 5px 0;
    border-radius: 12px;
}

.our_goal {
    text-align: center;
}

.parallax {
    min-height: 500px;
    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.parallax1 {
    background-image: url("https://i.kym-cdn.com/entries/icons/original/000/026/489/crying.jpg");
}

.parallax2 {
    background-image: url("");
}