.about-img img {
    width:100%;
    padding: 0 8px;
    margin: 5px 0;
    border-radius: 12px;
}

.our_goal {
    text-align: center;
}

.parallax {
    min-height: 500px;
    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.parallax1 {
    background-image: url("https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
}

.parallax2 {
    background-image: url("https://images.unsplash.com/photo-1549383028-df014fa3a325?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1738&q=80");
}

.parallax3 {
    background-image: url("https://images.unsplash.com/photo-1465929639680-64ee080eb3ed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
}

.about_us_section {
    
}

.paragraphText {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-shadow: 0 0 1px #fff;
    text-align: justify;
}