/*change color*/
  
.checkout a {
	text-decoration: none;
}
  
.checkout .container {
	max-width: 75em;
	width: 95%;
	overflow: hidden;
	position: relative;
}
  
.checkout .heading {
	padding: 1em;
	position: relative;
	z-index: 1;
	color: #f7f7f7;
	background: #f34d35;
}
  
.checkout .cart {
	margin: 2.5em;
	overflow: hidden;
}
  
.checkout .cart.is-closed {
	height: 0;
	margin-top: -2.5em;
}
  
.checkout .table {
	border-radius: 0.6em;
	overflow: hidden;
	clear: both;
	margin-bottom: 1.8em;
}
  
  
.checkout .layout-inline > * {
	display: inline-block;
}
  
.checkout .align-center {
	text-align: center;
}
  
.checkout .th {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
}
  
.checkout .tf {
	text-transform: uppercase;
	text-align: right;
	font-size: 1.2em;  
}
  
.checkout .tf p {
	color: #fff;
	font-weight: bold;
}
  
.checkout .col {
	padding: 1em;
	width: 12%;
}
  
.checkout .col-pro {
	width: 44%;
}
  
.checkout .col-pro > * {
	vertical-align: middle;
}
  
.checkout .col-qty {
	text-align: center;
	width: 17%;
		display: flex;
		align-items: center;
}
  
.checkout .col-numeric p {
	font: bold 1.8em helvetica;
}
  
.checkout .col-total p {
	color: #12c8b1;
}
  
.checkout .tf .col {
	width: 20%;
}
  
.checkout .row > div {
	vertical-align: middle;
}
  
.checkout .row-bg2 {
	background: #f7f7f7;
}
  
.checkout .visibility-cart {
	position: absolute;
	color: #fff;
	top: 0.5em;
	right: 0.5em;
	font:  bold 2em arial;
	border: 0.16em solid #fff;
	border-radius: 2.5em;
	padding: 0 0.22em 0 0.25em ;
}
  
.checkout .col-qty > * {
	vertical-align: middle; 
}
  
.checkout .col-qty > input {
	max-width: 2.6em;
}

.checkout .coolinput {
	border: 0.3em solid #26a69a;
	padding: 0.5em 0.3em; 
	font-size: 1.4em;
	color: #8a8a8a;
	text-align: center;
  }
   
.checkout a.qty {
	width: 1em;
	line-height: 1em;
	border-radius: 2em;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	background: #43ace3;  
	color: #fff;
}
  
.checkout a.qty:hover {
	background: #3b9ac6;
}
  
.checkout .btn {
	padding: 10px 30px;
	border-radius: 0.3em;
	font-size: 1.4em;
	font-weight: bold;
	background: #43ace3;
	color: #fff;
	box-shadow: 0 3px 0 rgba(59,154,198, 1)
}
  
.checkout .btn:hover {
	box-shadow: 0 3px 0 rgba(59,154,198, 0)
}
  
.checkout .btn-update {
	float: right;
	margin: 0 0 1.5em 0;
}
  
.checkout .transition {
	transition: all 0.3s ease-in-out;
}