.FAQ {
    width: 75%;
    margin: 0 auto;
}

.spacer {
    min-height: 10%;
}

.employees {
    width: 100%;
    margin-left: 10%;
    margin-top: 20%;
    scale: 1.3;
}
.employees_John {
    clip-path: inset(0 22% 0 10%);
}

.employees_Seb {
    clip-path: inset(0 15% 0 22%);
}

.employees_section {
    height: 300px;
}

.employees_text {
    color: white;
    text-shadow: 2px 2px 2px black;
}