h1.product-title {
    font-size: 2.1rem;
}
#other_books {
    width: 100%;
}

#book_img {
    width: 100%;
}

.add_to_cart_area {
    background: #191e2e;
    color: #e1e1ff;
    border-radius: 12px;
    margin: 4px 0 15px 0;
    padding:15px;
}

#add_to_cart_button {
    width: 100%;
    font-size: 17pt;
}

#about_seller {
    margin-left: 10px;
}
