h1.product-title {
    font-size: 2.1rem;
}
#other_books {
    width: 100%;
}

#book_img {
    width: 100%;
}

.add_to_cart_area {
    display: flex;
    align-items: center;
    background-color: #404454;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;
}

#price_text {
    color: white;
    font-size: 20pt;
    margin-left: 10px;
    margin-right: 10px;
}

#add_to_cart_button {
    width: 120px;
    font-size: 17pt;
}

#add_to_cart_area2{
    margin-top: 20px;
}

#about_seller {
    margin-left: 10px;
}

#title {
    margin-top: 0px;
}